.activity-tooltip {
  height: 72px;
  width: 49px;
  background-color: #e60000;
  font-weight: 500;
  font-size: 10px;
  color: white;
  @include flex-column;
  justify-content: space-between;
  
  padding: 10px 0;
  align-items: center;
}